
  <blockquote class="myMargin">
    <div class="row">
      <div class="col-sm-2">
        <p class="comment_name"><strong><%= comment.name %> </strong>said:</p>
      </div>
      <div class="col-sm-8">
        <p class="comment_body"><%= comment.body %></p>
      </div>
      <div class="col-sm-2">
        <p><%= link_to 'Delete message', [comment.post, comment], method: :delete, class:"btn btn-primary myMarginTop", data: { confirm: 'Are you sure?'} %></p>
      </div>
    </div>

    <footer>
      <p class="comment_time"><%= time_ago_in_words(comment.created_at)%> Ago</p>
    </footer>
  </blockquote>
